* {
  box-sizing: border-box;
}
body {
  background-color: #e5e5e5;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}
h1 {
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

div .bl {
  color: rgb(63, 63, 63);
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 30px;
  padding: 0.8rem 1rem;
}

div .item {
  text-align: center;
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  cursor: grab;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: radial-gradient(green, skyblue);
}

.progress {
  background: #7df172f5;
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}

div .hold {
  border: 5px solid rgb(175, 174, 174);
}

div .hide {
  display: none;
}

div .hovered {
  border-top: 4px solid #8ed7ed;
}
